body {
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: goldenrod;
}

form {
    margin: 30px 0px 0px 0px;
}

li {
    margin: 0;
    padding: 0;
}

.weatherInterface {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
}

#prec,
#humi,
#wind {
    color: red;
}

#celcius,
#fahrenheit {
    color: green;
}

#openSource {
    text-decoration: none;
}