body {
    font-family: "Courier New", Courier, monospace;
}

h1 {
    color: goldenrod;
}

form {
    margin: 30px 0px 0px 0px;
}

li {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

.weatherInterface {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 2px solid green;
    border-radius: 5px;
}

#prec,
#humi,
#wind {
    color: red;
}

#celcius,
#fahrenheit {
    color: green;
    position: relative;
    bottom: 20px;
    text-decoration: none;
    font-size: 14px;
}

#openSource {
    text-decoration: none;
    margin-top: 1px;
}

.footer {
    max-width: 600px;
    margin: auto;
    line-height: 1;
}

.tempWeather img {
    margin-right: 10px;
}

#temp {
    font-size: 50px;
}

#icon {
    width: 50px;
    float: left;
    position: relative;
    top: 10px;
}